*{
    margin: 0;
    padding: 0;
}
#colo{
    background-color:rgba(0, 0, 0, 0.65); 
}
body{  
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* background-position: center;  */
    /* color: white; */
    /* height: 100%; */
    /* background: rgb(4, 76, 109);  */
    background: rgb(9, 226, 136);
    background: linear-gradient(0deg, rgb(45, 110, 79) 10%, rgb(67, 130, 160) 90%); 
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;     
    /* font-family: 'Amiri', serif;
    font-size: 1.5rem; */
    text-align: center;
}
.mini{ 
    border: solid 1px white;
    border-radius: 30px ;
    margin:20px auto;
    width: 80%;
    padding: 10px;
    font-family: 'Lora', serif;
    font-size: 1.3rem;
    color: white;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
}



hr{ 
    height: 2px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left ,  #ffffffb2 , #e7402388);
    /* border: 1px solid rgba(255, 255, 255, 0.377);   
    color: rgba(255, 255, 255, 0.39);*/
    margin-left: 160px;

    width: 920px; }
#a{
    padding: 3px;
    color: rgb(14, 5, 5);
    bottom: 0px; 

}

footer{
    /* position:absolute; */
    bottom:0;
    width:100%;
    color: black;
    padding-top: 12px;
    font-family: 'Amiri', serif;
    text-align: center;
    background-color: rgba(220, 220, 224, 0.587);

}
        

#imgsize{
    width: 10%;
    margin-top: 20%;
    border: solid 3px white;
    border-radius: 100%;
}
h1{
    color: rgb(0, 0, 0);
    text-shadow: 2px 5pxrgb(250 174 28);

}

#fix{
    float: inherit;
}
#portofolio{
    background-image: url("/media/cover.jpg");
    background-repeat: no-repeat;
background-size: cover;
    /* width: 100%; */
    text-align: center;
    text-shadow: 1px 1px #fff;

    
    

}
.center{
    height: 500px;
    
}
.accordion{
    margin: auto;
    width: 80%;
    padding: 10px;
    font-family: 'Oxygen', sans-serif;
    border-radius: 20px;
    font-size: 1.2rem;
    
}
#goup{
    width: 100PX;
    
    margin: 20px;
}

.card{
    margin: auto;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.404);
    color: white;
}
.btn-warning{
    color: #212529;
    background-color: #2ea8a8;
    border-color: #0d1412;
}
.accordion>.card>.card-header {
    background-color: rgba(0, 0, 0, 0.65);;
    border-radius: 0;
}
.jumbotron{
    margin-top:  100px;
    border-radius: 50px;
}
#bordline{
    border: 2px solid #ffffffb2;
    border-radius: 20px;
    
    
}
#userdropdown{
    
    position: Absolute;
    right: 80px; 
}
#logo{
width: 40px;
/* height: 50px; */
margin-left: 20px

}  
.navbar-brand{
    position: Absolute;
    background-color:  #e7402388;
    /* background-color: rgba(0, 0, 0, 0.356) ; */
    border: 2px solid rgb(202 183 78);
    border-radius: 20px;
    /* margin-top: 5px; */
    margin-left: 20px;
    padding :5px ;
    height:50px;

/* margin-top: px; */
}

/* form css */
.contact{
    margin:auto;
    /* text-align: center; */
}
.form-group{
    padding: 10px;
    margin: auto;
    /* text-align: center; */
}
#contacth{
    font-size:2em;
    font-style: bold;
}
.formc{
    color:black;
    font-size: 1.5em;
}
.result{
    color: white;
    padding: 10px;
    background-color: rgba(128, 128, 128, 0.616);
    border-radius: 10px;
    display: none;
}



.hrstyle{
    margin: auto;
    /* width: 80%; */
    border: 0;
    height: 2px;
    background: #333;
    background-image: linear-gradient(to right, rgb(11, 2, 85), rgb(216, 67, 89), rgb(11, 2, 85));
}
.mar{
    margin-top: 30px;
    font-family: fantasy;
}
.display-4{
    font-family: fantasy;
}
.fonto{
    font-family:serif;
    font-size: 1.3em;
color: white;
}
#mission{
margin-left:130px ;
}
#abutton{
    margin-top: 10px ;
    
}
#onh{
 background-color: rgb(219, 191, 33);
 
}
#onh:hover{
    background-color: rgba(236, 130, 9, 0.897);
    
   }
