*{
    margin: 0;
    padding: 0;
}
body{
     
    margin: 0;
    padding: 0;
        height: 100%;
		background: rgb(9, 226, 136);
        background: linear-gradient(0deg, rgb(48, 151, 101) 0%, rgb(4, 76, 109) 100%);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-position: center; 
        /* font-family: 'Amiri', serif; */
        font-size: 20px;       
}
.center{
    text-align: center;
}
/* a{
    color: BLACK ;
} */
.container{
    margin-top: 30px;
}
.admin{
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif ;
}
.mini{
    margin: auto;
    text-align: center;
}
.card {
    border-radius: 30px;
    /* background-color: rgb(0 0 0 / 0%); */
    color: black;
}

.log{
    background-color:rgba(0, 0, 0, 0.281); 

    color: white;
    /* border: 5px solid rgba(218, 233, 227, 0.63);
    /* margin-top: 100px; */
    margin: 10.5px auto;
    border-radius: 100px  ; 

    /* padding: 25px; */
    font-family: 'Amiri', serif;
    /* font-size: 20px; */
    width: 50%;
  }
.formcenter {

    padding: 10%;

}
#dash{
    background-color: rgb(247 247 247) ;
    color: black;
}
#submitbtn{
    margin-top: 10px;
    width: 100%;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: rgb(255 255 255);
}
.form-group{
    padding: 8px;
}
footer{
    /* position:absolute; */
    bottom:0;
    width:100%;
    color: black;
    padding-top: 12px;
    font-family: 'Amiri', serif;
    text-align: center;
    background-color: rgba(220, 220, 224, 0.587);


    /* background-color: rgba(220, 220, 224, 0.587);
    text-align: center;
    font-family: 'Amiri', serif;
    font-size: 15px;
    padding-top: 12px;
	overflow: auto;
    color: black; */

}
#a{
    padding: 3px;
    color: rgb(14, 5, 5);
}
.check-password{
    color: red;
    font: bold;
}
.badge-light{
	border: solid 1px rgb(255, 243, 243);
	border-radius: 5px;
	background-color: rgba(15, 160, 129, 0.726);
}

.error{
    color:  red;
    background-color: rgba(247, 12, 51, 0.295);
    border: solid rgba(0, 0, 0, 0.274) 1px;
    border-radius: 10px;
    display: none;
    padding: 0px 5px 0px 5px;

}
#search{
    margin-bottom: 5px;
    margin-top: 5px;
}
#tblhead{
    color: white;
    background-color: #343a40;
}
.result{
    background-color:rgb(255, 250, 250);
    margin: 2px 0;
    padding:0 5px 0;
    border: solid 2px  rgba(88, 86, 87, 0.973);
    border-radius: 10px;
    display: none;
}
.resulttbl{
    margin-top: 10px;
    border-radius: 20px;
    /* background: rgb(15, 15, 15);
    background: linear-gradient(0deg, rgba(15, 187, 101, 0.555) 0%, rgba(114, 103, 40, 0.582) 100%); */
}

.alert-success{
    text-align: center;
    background-color: rgba(12, 165, 12, 0.534);
    color: rgb(4, 63, 4);
    padding: 5px 5px 0 5px;
    border-radius: 10px;
}



#userdropdown{
    position: Absolute;
    right: 80px; 
}
#colo{
    background-color:rgba(0, 0, 0, 0.65); 
}
hr{ 
    height: 2px;
    border: none;
    border-radius: 10px;
    background: linear-gradient(to left ,  #ffffffb2 , #e7402388);
    /* border: 1px solid rgba(255, 255, 255, 0.377);   
    color: rgba(255, 255, 255, 0.39);*/
    margin-left: 160px;
    width: 950px; 
}
#bordline{
    border: 2px solid #ffffffb2;
    border-radius: 20px;

}
.navbar-brand{
    position: Absolute;
    background-color:  #e7402388;
    /* background-color: rgba(0, 0, 0, 0.356) ; */
    border: 2px solid rgb(202 183 78);
    border-radius: 20px;
    /* margin-top: 5px; */
    margin-left: 20px;
    padding :5px ;
    height:50px;
/* margin-top: px; */
}
#logo{
    width: 40px;
    /* height: 50px; */
    margin-left: 20px
}
