*{
    
    margin: 0;
    padding: 0;
}
body{
    height: 100%;
		background: rgb(9, 226, 136);
        background: linear-gradient(0deg, rgb(48, 151, 101) 0%, rgb(4, 76, 109) 100%);
        background-size: 100%;
        font-family: 'Amiri', serif;
        font-size: 20px;
}
.admin{
	color: black;
	font-family: Georgia, 'Times New Roman', Times, serif ;
}
#colo{
    background-color:rgb(0, 0, 0); ;

    
}

.card {
    border-radius: 30px;
    /* background-color: rgb(0 0 0 / 0%); */
    color: black;
}
.log{
    background-color:rgba(0, 0, 0, 0.281); 

    color: white;
    /* border: 5px solid rgba(218, 233, 227, 0.63);
    /* margin-top: 100px; */
    margin: 10.5px auto;
    border-radius: 100px  ; 

    /* padding: 25px; */
    font-family: 'Amiri', serif;
    /* font-size: 20px; */
    width: 50%;
  }
.formcenter {

    padding: 10%;

}
#dash{
    background-color: rgb(247 247 247) ;
    color: black;
}
#submitbtn{
    margin-top: 10px;
    width: 100%;
}
.list-group-item.active {
    z-index: 2;
    color: #fff;
    border-color: rgb(255 255 255);
}
.form-group{
    padding: 8px;
}
footer{
    background-color: rgba(220, 220, 224, 0.587);
    text-align: center;
    font-family: 'Amiri', serif;
    font-size: 15px;
    padding-top: 12px;
	overflow: auto;
	color: black;
}
#a{
    padding: 3px;
    color: rgb(14, 5, 5);
}
.check-password{
    color: red;
    font: bold;
}
.badge-light{
	border: solid 1px rgb(255, 243, 243);
	border-radius: 5px;
	background-color: rgba(15, 160, 129, 0.726);
}

.error{
    color:  red;
    background-color: rgba(247, 12, 51, 0.295);
    border: solid rgba(0, 0, 0, 0.274) 1px;
    border-radius: 10px;
    display: none;
    padding: 0px 5px 0px 5px;

}
#search{
    margin-bottom: 5px;
    margin-top: 5px;
}

.result{
    background-color:rgb(255, 250, 250);
    margin: 2px 0;
    padding:0 5px 0;
    border: solid 2px  rgba(88, 86, 87, 0.973);
    border-radius: 10px;
    display: none;
}

.alert-success{
    text-align: center;
    background-color: rgba(12, 165, 12, 0.534);
    color: rgb(4, 63, 4);
    padding: 5px 5px 0 5px;
    border-radius: 10px;
}
.birthdate{
    margin: 10px;
    border: solid rgba(0, 0, 0, 0.233) 0.5px;
    border-radius: 15px;
}

